[submodule "submodules/zsh-autosuggestions"]
	path = submodules/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "submodules/zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "submodules/zsh-history-substring-search"]
	path = submodules/zsh-history-substring-search
	url = git@github.com:zsh-users/zsh-history-substring-search.git
[submodule "submodules/pure"]
	path = submodules/pure
	url = git@github.com:sindresorhus/pure.git
[submodule "submodules/notmuch-address-cache"]
	path = submodules/notmuch-address-cache
	url = git@github.com:mbauhardt/notmuch-address-cache
[submodule "submodules/mblaze"]
	path = submodules/mblaze
	url = git@github.com:leahneukirchen/mblaze.git
[submodule "submodules/mblaze-much"]
	path = submodules/mblaze-much
	url = git@github.com:dannyob/mblaze-much.git
[submodule "submodules/pass-keybase"]
	path = submodules/pass-keybase
	url = git@github.com:mbauhardt/pass-keybase.git
[submodule "submodules/st"]
	path = submodules/st
	url = git@github.com:mbauhardt/st.git
[submodule "submodules/dwm"]
	path = submodules/dwm
	url = git@github.com:mbauhardt/dwm.git
[submodule "submodules/dmenu"]
	path = submodules/dmenu
	url = git@github.com:mbauhardt/dmenu.git
[submodule "submodules/slstatus"]
	path = submodules/slstatus
	url = git@github.com:mbauhardt/slstatus.git
[submodule "submodules/clipnotify"]
	path = submodules/clipnotify
	url = git@github.com:cdown/clipnotify.git
[submodule "submodules/clipmenu"]
	path = submodules/clipmenu
	url = git@github.com:cdown/clipmenu.git
[submodule "submodules/n"]
	path = submodules/n
	url = git@github.com:tj/n.git
