[submodule "modules/shell/externals/prezto"]
	path = modules/shell/externals/prezto
	url = git@github.com:mbauhardt/prezto.git
[submodule "modules/zsh/submodules/zsh-autosuggestions"]
	path = modules/zsh/submodules/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
