[submodule "modules/zsh/submodules/zsh-autosuggestions"]
	path = modules/zsh/submodules/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "modules/zsh/submodules/zsh-syntax-highlighting"]
	path = modules/zsh/submodules/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "modules/zsh/submodules/zsh-history-substring-search"]
	path = modules/zsh/submodules/zsh-history-substring-search
	url = git@github.com:zsh-users/zsh-history-substring-search.git
[submodule "modules/zsh/submodules/base16-shell"]
	path = modules/zsh/submodules/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "modules/zsh/submodules/pure"]
	path = modules/zsh/submodules/pure
	url = git@github.com:sindresorhus/pure.git
[submodule "submodules/zsh-autosuggestions"]
	path = submodules/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "submodules/zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "submodules/zsh-history-substring-search"]
	path = submodules/zsh-history-substring-search
	url = git@github.com:zsh-users/zsh-history-substring-search.git
[submodule "submodules/pure"]
	path = submodules/pure
	url = git@github.com:sindresorhus/pure.git
